<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804037827106-pmqrlpifj6cmu4v1le9lhnvbc2h9s7lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804037827106-pmqrlpifj6cmu4v1le9lhnvbc2h9s7lp</string>
	<key>API_KEY</key>
	<string>AIzaSyDHdL4Vge7yWt2L8XQHBaom1i9F89hjcxI</string>
	<key>GCM_SENDER_ID</key>
	<string>804037827106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenryaku2</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-14b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-14b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804037827106:ios:ff116356a5c0f46ce8c87b</string>
</dict>
</plist>